.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/src/assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
  padding-top: 100px;
}

.hero h3,
h4 {
  font-size: 2rem;
  color: #fff;
}
.hero h4 {
  padding-bottom: 2rem;
}
.hero .link-btn {
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
  border: 2px solid;
  border-color: #fff;
  font-size: 1rem;
}
