<!-- footer section starts  -->

<section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>GET IN TOUCH</h3>
          <i class="fas fa-phone">+123-456-7890</i>
          <br />
          <i class="fas fa-envelope"> shaikhanas@gmail.com</i>
        </div>
  
        <div class="col-md-4 a">
          <a href="#" class="link-btn" download>Contact Me</a>
        </div>
        <div class="col-md-4 share">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-twitter"></i>
          <p class="credit">
            created by <span>mr. web designer</span>
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- footer section ends -->
  