<div class="container">
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0" *ngFor="let item of cardlist">
      <div class="col-md-4">
        <img [src]="item.img" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">
            {{ item.text }}
          </p>
          <p class="card-text">
            <small class="text-muted">{{item.small}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
