<!-- hero section starts  -->

<section class="hero" id="hero">
  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-md-6">
        <h3>Rawda Mohamed</h3>
        <h4>Web Developer & Designer</h4>
        <a href="#" class="link-btn">Contact Me</a>
      </div>
    </div>
  </div>
</section>

<!-- hero section ends -->

<!-- about section starts  -->

<section class="about" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <h1>About me</h1>
      </div>
      <div class="col-md-8">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolorem
          laborum itaque. Perspiciatis in veniam illum deserunt, quos animi
          maiores nisi officiis amet accusantium soluta a, excepturi vero
          obcaecati nobis.
        </p>
        <a href="http://localhost:4200/" class="link-btn" download
          >Download CV</a
        >
      </div>
    </div>
  </div>
</section>

<!-- about section ends -->

<!-- Skills  section starts  -->

<section class="Skills" id="Skills ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h1>Skills</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          quae sapiente aspernatur quo, vitae aperiam reprehenderit suscipit
          eligendi, consequatur, dignissimos unde. Culpa fugiat hic porro maxime
          tempora eaque, quos error! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Omnis dolorem laborum itaque. Perspiciatis in veniam
          illum deserunt, quos animi maiores nisi officiis amet accusantium
          soluta a, excepturi vero obcaecati nobis.
        </p>
      </div>
      <div class="col-md-4 Focus">
        <h5>My Focus</h5>
        <hr />
        <ul>
          <li>UI/UX Design</li>
          <li>Responsive Design</li>
          <li>Wed Design</li>
          <li>Mobile App Design</li>
        </ul>
      </div>
      <div class="col-md-8 pro">
        <div class="d-flex">
          <span class="pe-3 badge bg-dark">HTML</span>
          <div class="progress" style="width: 50%; height: 20px">
            <div
              class="progress-bar bg-secondary"
              role="progressbar"
              style="width: 85%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <br />
        <div class="d-flex">
          <span class="pe-3 badge bg-dark">CSS</span>
          <div class="progress" style="width: 50%; height: 20px">
            <div
              class="progress-bar bg-secondary"
              role="progressbar"
              style="width: 85%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <br />
        <div class="d-flex">
          <span class="pe-3 badge bg-dark">javascript</span>
          <div class="progress" style="width: 50%; height: 20px">
            <div
              class="progress-bar bg-secondary"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <br />
        <div class="d-flex">
          <span class="pe-3 badge bg-dark">React</span>
          <div class="progress" style="width: 50%; height: 20px">
            <div
              class="progress-bar bg-secondary"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <br />
        <div class="d-flex">
          <span class="pe-3 badge bg-dark">photoshop</span>
          <div class="progress" style="width: 50%; height: 20px">
            <div
              class="progress-bar bg-secondary"
              role="progressbar"
              style="width: 85%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <br />
        <div class="d-flex">
          <span class="pe-3 badge bg-dark">Abode XD</span>
          <div class="progress" style="width: 50%; height: 20px">
            <div
              class="progress-bar bg-secondary"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <br />
        <div class="d-flex">
          <span class="pe-3 badge bg-dark">Node.js</span>
          <div class="progress" style="width: 50%; height: 20px">
            <div
              class="progress-bar bg-secondary"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <br />
        <div class="d-flex">
          <span class="pe-3 badge bg-dark">WordPress</span>
          <div class="progress" style="width: 50%; height: 20px">
            <div
              class="progress-bar bg-secondary"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Skills  section ends -->

<!-- Portfolio section starts  -->

<section class="Portfolio" id="Portfolio">
  <h1>Portfolio</h1>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="card content odd">
          <div class="card-body">
            <h5 class="card-title">Web Design</h5>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card content even">
          <div class="card-body">
            <h5 class="card-title">Web Design</h5>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card content odd">
          <div class="card-body">
            <h5 class="card-title">Web Design</h5>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card content even">
          <div class="card-body">
            <h5 class="card-title">Web Design</h5>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card content odd">
          <div class="card-body">
            <h5 class="card-title">Web Design</h5>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card content even">
          <div class="card-body">
            <h5 class="card-title">Web Design</h5>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio section ends -->

<!-- footer section starts  -->

<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>GET IN TOUCH</h3>
        <i class="fas fa-phone">+123-456-7890</i>
        <br />
        <i class="fas fa-envelope"> shaikhanas@gmail.com</i>
      </div>

      <div class="col-md-4 a">
        <a href="#" class="link-btn" download>Contact Me</a>
      </div>
      <div class="col-md-4 share">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-twitter"></i>
        <p class="credit">
          created by <span>mr. web designer</span>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- footer section ends -->
